<ul class="video-list" ng-repeat="video in $ctrl.videos">

  <video-list-entry video=video></video-list-entry>

</ul>


<!-- video={{$ctrl.video}} -->


 <!--  <video-list-entry><h5><em>videoListEntry</em> component goes here</h5></video-list-entry>

  <video-list-entry><h5><em>videoListEntry</em> component goes here</h5></video-list-entry>

  <video-list-entry><h5><em>videoListEntry</em> component goes here</h5></video-list-entry>
  <video-list-entry><h5><em>videoListEntry</em> component goes here</h5></video-list-entry> -->